<div class="t1">
  
  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput  placeholder="firstName" [(ngModel)]="data.firstName" name="firstName"  required>        
      </mat-form-field>
     
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput  placeholder="lastName" [(ngModel)]="data.lastName" name="lastName" required >        
      </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="email" [(ngModel)]="data.email" name="email"required>
        </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Company Name" [(ngModel)]="data.companyName" name="companyName"required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="addressLine1" [(ngModel)]="data.addressLine1" name="addressLine1"required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="address Line 2 if not type NA" [(ngModel)]="data.addressLine2" name="addressLine2" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="city" [(ngModel)]="data.city" name="city" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="country" [(ngModel)]="data.country" name="country" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="zipcode" [(ngModel)]="data.zipCode" name="zipCode" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="phone" [(ngModel)]="data.phone" name="phone" required>
      </mat-form-field>
    </div>
 
    <div mat-dialog-actions>
      <button  mat-flat-button color="warn" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="addData()">Save</button>
      <button mat-flat-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
